@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #F8FAFD;
}

/* ----- Scroll bar ---------------------------------------------- */
::-webkit-scrollbar {
    width: 0;
}