name: Docker Image CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:  
    - uses: actions/checkout@v2
    - name: Build the Next JS Docker image
      run: docker build ./ --tag nextjs-image
    - name: Build the Ngingx Docker image
      run: docker build ./nginx --tag nginx-image 
    - name: Build the Network
      run: docker network create my-network
