name: Docker Image CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build the Next JS Docker image
      run: docker build . --file Dockerfile --tag nextjs-image
    - name: Build the Ngingx Docker image
      run: docker build ./nginx --file Dockerfile --tag nginx-image 
